<header>
    <!--
        <div id="header" class="header">
    <div class="header_logo ">
        <fa-icon [icon]="faShieldVirus" class="h1 my-0 me-2"></fa-icon>
        <H1 class="my-0">Arkham Santé</H1>
    </div>

    <div class="bulle_utilisateur">

        <div>Bonjour</div>


        <div class="dropdown">
            <a class="btn btn-outline-light bg-transparent dropdown-toggle ms-3 border-0" href="#" role="button"
                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> <img class="image_profils"
                    src="assets/profils/user.png" alt="photo_profil"></a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal">Gérer
                        mon profil</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </div>


    </div>
</div>
-->

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" href="#">
                <H1 class="my-0 h2">
                    <fa-icon [icon]="faShieldVirus"></fa-icon> Arkham Santé
                </H1>
            </a>
            <nav class="nav ms-2 me-auto">

                <a class="nav-link text-light fs-5" href="/patients">Patients</a>
                <a class="nav-link text-light fs-5" href="/villes">Villes</a>

            </nav>
        </div>
    </nav>


</header>