<div class="container shadow-lg p-4 bg-light rounded">

    <h1 class="h2  mx-2">Liste des Villes</h1>
    <hr class="border border-primary mt-0 mb-3 ">
    <div class="mb-3 text-end">

        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success ms-3">Nouvelle
            ville</button>

        <button (click)="updateCities()" class="btn btn-primary ms-3">
            <fa-icon [icon]="faSync"></fa-icon>
        </button>

    </div>
    <table class="table table-light table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Ville</th>
                <th>CP</th>
                <th style="width:100px"><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ville of villes">
                <td>{{ ville.id }}</td>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <!--<a th:href="@{'/ville/edit/' + ${v.id}}"><i class="fas fa-edit"></i></a>
            <a th:href="@{'/ville/delete/' + ${v.id}}"><i class="fas fa-trash"></i></a>-->
                </td>
            </tr>
        </tbody>
    </table>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="villeForm" (submit)="submitForm()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une ville</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">



                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom"
                            [(ngModel)]="ville.nom" minlength="2" #name="ngModel" required>
                    </div>

                    <div class="mb-3">
                        <label for="cp" class="form-label">Code Postal</label>
                        <input type="text" class="form-control" id="cp" name="cp" placeholder="Code Postal"
                            [(ngModel)]="ville.codePostal" minlength="2" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Valider</button>
                    <button type="reset" class="btn btn-danger float-end">Annuler</button>
                </div>
            </div>
        </form>
    </div>
</div>