<div class="container shadow-lg p-4 bg-light rounded">

    <h1 class="h2  mx-2">Liste des Villes</h1>
    <hr class="border border-primary mt-0 mb-3 ">
    <div class="mb-3 text-end">

        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success ms-3">Nouvelle
            ville</button>

        <button (click)="refreshList()" class="btn btn-primary ms-3">
            <fa-icon [icon]="faSync"></fa-icon>
        </button>

    </div>
    <table class="table table-light table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Ville</th>
                <th>CP</th>
                <th>
                    <fa-icon [icon]="faCogs"></fa-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ville of villesList">
                <td>{{ ville.id }}</td>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <button type="button" class="btn btn-warning edit_patient_button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" (click)="editCity(ville.id)">
                        <fa-icon [icon]=faEdit></fa-icon>
                    </button> &nbsp;
                    <button type="button" class="btn btn-danger delete_patient_button" (click)="deleteCity(ville.id)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="villeForm" ngNativeValidate (submit)="submitForm()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une ville</h5>
                    <button type="button" class="btn-close" #closeModalButton data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="modal-body">



                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom"
                            [(ngModel)]="newVille.nom" ngModel minlength="2" required>
                    </div>

                    <div class="mb-3">
                        <label for="cp" class="form-label">Code Postal</label>
                        <input type="text" class="form-control" id="cp" name="cp" placeholder="Code Postal"
                            [(ngModel)]="newVille.codePostal" minlength="2" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Valider</button>
                    <button type="reset" class="btn btn-danger float-end">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>