<div class="container shadow-lg p-4 bg-light rounded">

    <h1 class="h2  mx-2">Liste des Patients</h1>
    <hr class="border border-primary mt-0 mb-3 ">
    <div class="alert alert-danger" role="alert" *ngIf="erreur">
        Erreur
    </div>
    <div class="alert alert-success" role="alert" *ngIf="succes">
        Opération effectuée avec succès!
    </div>
    <div class="row mb-3">
        <div class="col-2 text-start">
            <div class="input-group w-auto">
                <input class="form-control" type="text" name="search" id="search" placeholder="Chercher"
                    [(ngModel)]="search">
                <button (click)="loadPatientsList()" class="btn btn-primary">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button>
            </div>
        </div>
        <div class="col-10 text-end">
            <button [routerLink]="['/patients/addedit' , 0 ]" class=" btn btn-success" (click)="refreshList()">Nouveau
                patient</button>
            <button (click)="refreshList()" class="btn btn-primary ms-3">
                <fa-icon [icon]="faSync"></fa-icon>
            </button>
        </div>
    </div>
    <div>

        <table class="table table-light table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th> <span>#</span>
                        <span class="btn-group ms-2" role="group" aria-label="Sorting">
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByIdAsc()"> &uarr;
                            </a>
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByIdDesc()"> &darr;
                            </a></span>
                    </th>
                    <th> <span>Nom</span>
                        <span class="btn-group ms-2" role="group" aria-label="Sorting">
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByNameAsc()"> &uarr;
                            </a>
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByNameDesc()"> &darr;
                            </a></span>
                    </th>
                    <th>
                        <span>Prénom</span>
                        <span class="btn-group ms-2" role="group" aria-label="Sorting">
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByPrenomAsc()">
                                &uarr;
                            </a>
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByPrenomDesc()">
                                &darr;
                            </a></span>
                    </th>
                    <th>
                        <span>Mail</span>
                        <span class="btn-group ms-2" role="group" aria-label="Sorting">
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByEmailAsc()"> &uarr;
                            </a>
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByEmailDesc()">
                                &darr;
                            </a></span>
                    </th>
                    <th>
                        <span>Téléphone</span>
                        <span class="btn-group ms-2" role="group" aria-label="Sorting">
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByTelephoneAsc()">
                                &uarr;
                            </a>
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByTelephoneDesc()">
                                &darr;
                            </a></span>
                    </th>
                    <th>
                        <span>Ville</span>
                        <span class="btn-group ms-2" role="group" aria-label="Sorting">
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByVilleAsc()"> &uarr;
                            </a>
                            <a class="btn btn-outline-secondary border-0 btn-sm px-1" (click)="sortByVilleDesc()">
                                &darr;
                            </a></span>
                    </th>
                    <th>
                        <fa-icon [icon]="faCogs"></fa-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patientsList">
                    <td>{{ patient.id }}</td>
                    <td> {{ patient.nom }} </td>
                    <td> {{ patient.prenom }} </td>
                    <td> {{ patient.email }} </td>
                    <td> {{ patient.telephone }} </td>
                    <td> {{ patient.ville?.nom }} </td>
                    <td> <button type="button" class="btn btn-warning edit_patient_button"
                            [routerLink]="['/patients/addedit' , patient.id ]">
                            <fa-icon [icon]=faEdit></fa-icon>
                        </button> &nbsp;
                        <button type="button" class="btn btn-danger delete_patient_button"
                            (click)="deletePatient(patient.id)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
    <hr class="border border-primary mt-0 mb-3 ">

    <div class="row">
        <ng-container *ngFor="let patient of patientsList">
            <ng-container *ngTemplateOutlet="patientCardTemplate; context: {item:patient}"></ng-container>
        </ng-container>
    </div>

    <ng-template #patientCardTemplate let-patient="item">
        <div class="col-4">
            <div class="card  bg-primary bg-gradient bg-opacity-25 w-100 m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{patient.prenom}} {{patient.nom}} </h5>
                    <p class="card-text">
                        Tel : {{patient.telephone}}
                        <br>
                        Email : {{patient.email}}
                    </p>
                </div>
            </div>
        </div>
    </ng-template>


</div>